.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.cards {
  display: flex;
  justify-content: space-around;

}

.cards-services {
  display: flex;
  gap: 32px;
  /* Espaçamento entre os cards */
  margin: 24px;
  /* Margem ao redor de todo o conteúdo */
  justify-content: center;
  /* Centraliza os cards na página */
  flex-wrap: wrap;
}

.card-container {
  width: 328px;
  height: 469px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  flex: 1;
}

.card-image img {
  width: 324px;
  height: 469px;
  object-fit: cover;
}

.card-container:hover .card-image img {
  filter: brightness(50%);
}

.card-content {
  position: absolute;
  top: 24px;
  margin-left: 16px;
  color: white;
  font-size: 24px;
  font-family: 'Inter';
  font-weight: bold;
  line-height: 50px;
  z-index: 2;
}