:root {
    --neutral-0: #ffffff;
    --neutral-50: #FAFAFA;
    --neutral-100: #F2F2F2;
    --neutral-200: #E1E2E2;
    --neutral-500: #636363;
    --neutral-600: #303030;
    --neutral-700: #171717;

    --primary-100: #FFF4F2;
    --primary-400: #FFA494;
    --primary-600: #F05410;
    --primary-500: #FF5911;
    --primary-800: #AA3B0B;

    --secondary-100: #F4F4FB;
    --secondary-200: #E5E5F6;
    --secondary-500: #5959D4;
    --secondary-400: #A4A4E3;
    --secondary-600: #5454C8;
    --secondary-800: #3B3B8D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--neutral-0);
    color: var(--neutral-600);
    -webkit-font-smoothing: antialiased;
}

body,
button,
a {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

h1 {
    font-size: 2.625rem;

}

h5 {
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    font-size: 1.125rem;
}