:root {
  --neutral-0: #ffffff;
  --neutral-50: #fafafa;
  --neutral-100: #f2f2f2;
  --neutral-200: #e1e2e2;
  --neutral-500: #636363;
  --neutral-600: #303030;
  --neutral-700: #171717;

  --primary-100: #fff4f2;
  --primary-200: #ffe5e1;
  --primary-400: #ffa494;
  --primary-600: #f05410;
  --primary-500: #ff5911;
  --primary-800: #aa3b0b;

  --secondary-100: #f4f4fb;
  --secondary-200: #e5e5f6;
  --secondary-500: #5959d4;
  --secondary-400: #a4a4e3;
  --secondary-600: #5454c8;
  --secondary-800: #3b3b8d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--neutral-0);
  color: var(--neutral-600);
  -webkit-font-smoothing: antialiased;
}

body,
button,
a {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

h1 {
  font-size: 2.625rem;
}

h3 {
  font-size: 3rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1.125rem;
}

strong {
  color: var(--neutral-700);
  font-size: 1.25rem;
}
