.banner {
    background: var(--secondary-800);
    width: 100%;
    margin-top: 87px;
    justify-content: start;
    padding: 7.5rem 5rem;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.banner_img {
    width: auto;
    height: auto;
    display: flex;
    position: absolute;
    top: 30px;
    right: 5.56%
}

.banner_text {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--neutral-0);
}

.banner_text strong{
    font-size: 2.625rem;
}

.banner .change-purple {
    color: var(--secondary-400);
}

.banner .change-orange {
    color: var(--primary-500);
}

.container_sobrenos {
    background: var(--neutral-0);
    width: 100%;
    justify-content: start;
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-between;
}

.title {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3.375rem;
    color: var(--neutral-600);
}

.paragraph {
    display: flex;
    flex-direction: column;
    color: var(--neutral-700);
    gap: 2rem;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.container_historia {
    background: var(--secondary-100);
    width: 100%;
    justify-content: start;
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-between;
}

.container_fazemos {
    background: var(--neutral-0);
    width: 100%;
    justify-content: start;
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-between;
}

.container_icons {
    background: var(--primary-100);
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-between;
}

.text_icon {
    width: 345px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.text_icon img {
    width: 120px;
    height: 120px;
}

.image_end {
    background: var(--neutral-50);
    padding: 5rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.image_end img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}