.card-list-container {
  width: 100%;
  background: var(--secondary-100);
  padding: 5rem 5rem;
}

.list-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #333;
}

.card-list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 0 auto;
  max-width: 1200px;
  flex-wrap: wrap; /* Ajusta os cards em telas menores */
}

.card {
  flex: 1;
  max-width: 280px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 16px 0;
  color: #333;
}
