.footer-geral {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  padding: 60px;
  box-shadow: 0px -1px 5px 5px rgba(0, 0, 0, 0.03);
}

.footer-logo>p {
  margin-top: 48px;
}

#footer-input {
  margin-top: 1rem;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #f2f2f2;
  margin-right: 10px;
}

#footer-input::placeholder {
  font-weight: bold;
}

#footer-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #5454c8;
  color: #fff;
  cursor: pointer;
  font-weight: semibold;
}

.footer-final {
  display: flex;
  margin-top: 4rem;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer-final a {
  font-size: 1rem;
  font-weight: bold;
  color: var(--neutral-600);
  text-decoration: none;
}

.footer-final strong {
  font-size: 1.25rem;
  color: var(--primary-600);
}

.footer-final p, .footer-final a {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--neutral-700);
}

.left {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-media {
  text-align: end;
  gap: 10px;
}

.social-media a {
  text-decoration: none;
  color: #f05410;
  font-size: 1.125rem;
}

.social-media a>i {
  margin-left: 10px;
}

.copyright {
  display: flex;
  align-items: center;
  gap: 10px;
}